

@tailwind base;
@tailwind components;

.p{
  font-family: "Nunito", sans-serif;
  @apply text-[17px] md:text-[20px] text-[#3E4349];
}
.h{
  font-family: "Cal Sans", sans-serif;
 @apply tracking-wider
}
.h1{
  font-family: "Cal Sans", sans-serif;
  font-style: normal;
  @apply text-[25px] md:text-[40px] font-[400] leading-[39px]  mb-[20px] tracking-wider text-[#91816c] relative top-[12px]; 
}
@tailwind utilities;

p,.pf{
  font-family: "Nunito", sans-serif;
}

.home2{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../src/assets/homeimg2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.hero::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 739px;
  background-image: url(../public/heroimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}


td{
  border: 1px solid rgb(221, 221, 221);
}
@media (max-width: 768px) {
  .hero,.home2::before {
    background-attachment: scroll; 
    background-position: center;
  }
}
.bs{
  width: 100vw;
  height: 100vh;
  background: #0000009c;
  position: absolute;
  top: 0;
  left: 0;
}